@import "variables";
@import "mixins";
@import '../../node_modules/foundation-sites/scss/util/mixins';
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything(true);

html{
  overflow: hidden;
}
body {
  margin: 0;
  background: $white;
  overflow: hidden;
  @include box-size();
  @include font($font-size-1, $font-family-robotolight);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
.header-1 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-2, $font-family-robotobold);
  }
  @include breakpoint(medium){
    @include font($font-size-4, $font-family-robotobold);
  }
  @include breakpoint(large) {
    @include font($font-size-6, $font-family-robotobold);
  }
}
h2,
.header-2 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-1, $font-family-robotolight);
  }
  @include breakpoint(medium){
    @include font($font-size-3, $font-family-robotolight);
  }
  @include breakpoint(large) {
    @include font($font-size-5, $font-family-robotolight);
  }
}
h3,
.header-3 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-1, $font-family-robotolight);
  }
  @include breakpoint(medium){
    @include font($font-size-2, $font-family-robotolight);
  }
  @include breakpoint(large) {
    @include font($font-size-4, $font-family-robotolight);
  }
}
h4,
.header-4 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-1, $font-family-robotolight);
  }
  @include breakpoint(medium){
    @include font($font-size-2, $font-family-robotolight);
  }
  @include breakpoint(large) {
    @include font($font-size-3, $font-family-robotolight);
  }
}
h5,
.header-5 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-1, $font-family-robotolight);
  }
  @include breakpoint(medium){
    @include font($font-size-2, $font-family-robotolight);
  }
  @include breakpoint(large) {
    @include font($font-size-2, $font-family-robotolight);
  }
}
h6,
.header-6 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-08, $font-family-robotolight);
  }
  @include breakpoint(medium){
    @include font($font-size-1, $font-family-robotolight);
  }
  @include breakpoint(large) {
    @include font($font-size-2, $font-family-robotolight);
  }
}

.uppercase {
  text-transform: uppercase;
}

.vertical-text {
  width: 1px;
  word-wrap: break-word;
}
.button-flavor {
  font-family: $font-family-reeniebeanie;
  font-size: $font-size-2;
  font-weight: 700;


  @include breakpoint(large){
    font-size: $font-size-3;
  }

  &.pink {
    color: $pink;
  }
  &.blue {
    color: $blue;
  }
  &.yellow {
    color: $yellow;
  }
  &.green {
    color: $green;
  }
}
.flavor {
  position: absolute;
  font-family: $font-family-reeniebeanie;
  font-size: $font-size-2;
  font-weight: 700;
  bottom: -15px;
  right: 5px;
  @include rotate(-15deg);

  @include breakpoint(large){
    bottom: -30px;
    font-size: $font-size-3;
  }

  &.pink {
    color: $pink;
  }
  &.blue {
    color: $blue;
  }
  &.yellow {
    color: $yellow;
  }
  &.green {
    color: $green;
  }
}

// Root
#root {
  height: 100%;
  > section {
    height: 100%;
    background-image: url('../image/texture-asphalt.jpg');
    position: relative;

  }
}


// Dat hambörger
.hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  @include rotate(0deg);
  @include transition(all, .5s, ease-in-out);
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background-color: $white;
    @include rotate(0deg);
    @include transition(all, .25s, ease-in-out);

    &:nth-child(1),
    &:nth-child(2){
      top: 0;
    }
    &:nth-child(3),
    &:nth-child(4){
      top: 18px;
    }
    &:nth-child(5),
    &:nth-child(6){
      top: 36px;
    }
    &:nth-child(odd){
      left: 0;
      border-radius: 9px 0 0 9px;
    }
    &:nth-child(even){
      left: 50%;
      border-radius: 0 9px 9px 0;
    }
  }


  &:hover{
    span {
      background-color: $pink;
    }
  }
  &.open {
    span {
      background-color: $pink;

      &:nth-child(1) {
        left: 5px;
        top: 7px;
      }
      &:nth-child(2){
        left: calc(50% - 5px);
        top: 7px;
      }
      &:nth-child(3){
        left: -50%;
        opacity: 0;
      }
      &:nth-child(4){
        left: 100%;
        opacity: 0;
      }
      &:nth-child(5){
        left: 5px;
        top: 29px;
      }
      &:nth-child(6){
        left: calc(50% - 5px);
        top: 29px;
      }
      &:nth-child(2),
      &:nth-child(5){
        @include rotate(-45deg);
      }
      &:nth-child(1),
      &:nth-child(6){
        @include rotate(45deg);
      }
    }
  }
}

// Header
#main-header {
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 120px;
  padding: 0 5rem;

  &:before{
    z-index: 20;
    @include breakpoint(medium) {
      background: url('../image/bg-top-left-tab.png') no-repeat center;
      width: 291px;
      height: 189px;

      background-size: cover;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;

      @include breakpoint(large){
        background: url('../image/bg-top-left-screen.png') no-repeat center;
        width: 399px;
        height: 259px;
      }
    }
  }

  &:after {
    background-size: cover;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    z-index: 20;

    @include breakpoint(small){
      background: url('../image/bg-top-mob.png') no-repeat center;
      width: 100%;
      height: 183px;
    }

    @include breakpoint(medium) {
      background: url('../image/bg-top-right-tab.png') no-repeat center;
      width: 402px;
      height: 104px;
    }

    @include breakpoint(large){
      background: url('../image/bg-top-right-screen.png') no-repeat center;
      width: 518px;
      height: 143px;
    }
  }

  .home-button{
    display: block;
    color: $white;
    font-family: $font-family-hiq;
    font-size: $font-size-2;
    @include transition(color);
    position: relative;
    z-index: 55;


    @include breakpoint(medium){
      font-size: $font-size-3;
    }
    @include breakpoint(large){
      font-size: $font-size-5;
    }
  }
  .menu-button {
    display: block;
    z-index: 55;

    .hamburger {
      display: inline-block;
      @include breakpoint(large){
        margin-right: 1rem;
      }
    }
    .text {
      display: none;
      @include breakpoint(large){display: inline-block;}
      color: $yellow;
      font-family: $font-family-reeniebeanie;
      font-size: $font-size-15;
      margin-right: .5rem;

      @include translateY(-25%);
      @include transition(color);
      @include breakpoint(large){
        font-size: $font-size-25;
      }
    }
  }
}
#menu {
  padding-top: 80px;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  z-index: 50;
  
  @include translateY(-100vh);
  @include transition();
  .user-name,
  a {
    font-family: $font-family-hiqrough;
    font-size: $font-size-25;
    font-weight: 700;
    color: $white;
    text-align: center;
    display: block;

    @include breakpoint(medium){
      font-size: $font-size-5;
    }
  }

  a {
    @include transition(all, .2s);
    &:hover {
      color: $pink;
      @include text-shadow($yellow);
    }
    span {
      position: relative;
    }
  }

  &.show{
    @include translateY(0);
  }
}
.arrow-left {
  background: url("../image/arrow-left-yellow.png") no-repeat center;
  -webkit-background-size:cover;
  background-size:cover;

}
// Lot
.lot-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 1rem;


  @include breakpoint(medium){
    justify-content: center;
  }

  @include breakpoint(large){
    justify-content: space-around;
  }

  @include transition(transform);

  .lot {
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    @include breakpoint(large){
      background-size: 70%;
    }
    position: relative;
    z-index: 10;
    border: $border-size solid $white;
    border-radius: $border-radius;
    padding: 3rem 0;
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 0;



    @include breakpoint(small){
      flex-basis: 70%;
    }

    @include breakpoint(medium){
      flex-basis: 50%;
      flex-grow: 0;
    }

    @include breakpoint(large){
      flex-basis: 25%;
      flex-grow: 0;
    }

    @include transition(all, .5s);

    &:hover {
      @include breakpoint(large) {
        -webkit-background-size: 100%;
        background-size: 100%;
      }

      border-color: $pink;

      h1 {
        @include text-shadow($yellow);
        color: $pink;
      }
    }
    h1 {
      font-family: $font-family-hiqrough;
      font-size: $font-size-4;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
      text-align: center;

      @include breakpoint(large){
        font-size: $font-size-5;
      }
    }
  }

  &.lot-wrapper.hide-lots {
    @include translateY(-100%);
  }
}


.content {
  z-index: 0;
  position: relative;
}

// Spot
.current-lot-name {
  font-family: $font-family-hiqrough;
  font-size: $font-size-4;
  font-weight: 700;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
  display: block;
  @include text-shadow($yellow);

  @include breakpoint(medium){
    font-size: $font-size-5;
  }

  @include breakpoint(large){
    font-size: $font-size-6;
  }
}

.spots-wrapper {
  position: relative;
  z-index: 0;
  margin-top: 1rem;

  .name {
    display: block;
    text-align: center;
    font-size: $font-size-2;
  }
}
.spot {
  color: $white;
  border: $border-size solid $white;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: none;

  min-height: 15rem;
  position: relative;

  background-color: rgba(0, 255, 0, 0.3);
  &.parked{
    background-color: rgba(255, 0, 0, 0.3);
  }
  .name {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    @include text-orientation(upright);
    z-index: 0;
  }
}

.map-reveal {

  .map {
    height: 0;
    @include transition(height);
    overflow: hidden;
  }
  &.show {
    .map {
      height: 150px;
    }
  }
}

.spotInfo {
  &.display {
    display: block;
  }

  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  > div {
    width: 50em;
    background-color: $white;
    top: 180px;
    position: relative;
    margin: 0 auto;
  }
}