@import "variables";
@import "mixins";
@import '../../node_modules/foundation-sites/scss/util/mixins';
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything(true);

body {
  margin: 0;
  background: $white;
  @include box-size();
  @include font($font-size-1, $font-family-robotolight);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
.header-1 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-2, $font-family-robotobold);
  }
  @include breakpoint(medium){
    @include font($font-size-4, $font-family-robotobold);
  }
  @include breakpoint(large) {
    @include font($font-size-6, $font-family-robotobold);
  }
}
h2,
.header-2 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-1, $font-family-robotolight);
  }
  @include breakpoint(medium){
    @include font($font-size-3, $font-family-robotolight);
  }
  @include breakpoint(large) {
    @include font($font-size-5, $font-family-robotolight);
  }
}
h3,
.header-3 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-1, $font-family-robotolight);
  }
  @include breakpoint(medium){
    @include font($font-size-2, $font-family-robotolight);
  }
  @include breakpoint(large) {
    @include font($font-size-4, $font-family-robotolight);
  }
}
h4,
.header-4 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-1, $font-family-robotolight);
  }
  @include breakpoint(medium){
    @include font($font-size-2, $font-family-robotolight);
  }
  @include breakpoint(large) {
    @include font($font-size-3, $font-family-robotolight);
  }
}
h5,
.header-5 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-1, $font-family-robotolight);
  }
  @include breakpoint(medium){
    @include font($font-size-2, $font-family-robotolight);
  }
  @include breakpoint(large) {
    @include font($font-size-2, $font-family-robotolight);
  }
}
h6,
.header-6 {
  @include transition(font-size);
  @include breakpoint(small){
    @include font($font-size-08, $font-family-robotolight);
  }
  @include breakpoint(medium){
    @include font($font-size-1, $font-family-robotolight);
  }
  @include breakpoint(large) {
    @include font($font-size-2, $font-family-robotolight);
  }
}

// Header
#main-header {
  background: url('../image/bg-top-mob.png') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 80px;
  a {
    > span {
      display: inline-block;
      padding: 1rem;
    }
  }
  .home-button{
    color: $white;
    font-family: $font-family-hiq;
    font-size: $font-size-2;
    @include transition(color);

    span {
      position: relative;
      .flavor {
        position: absolute;
        color: $pink;
        font-family: $font-family-reeniebeanie;
        font-size: $font-size-1;
        font-weight: 700;
        bottom: 15px;
        right: 5px;
        @include rotate(-15deg);
      }
    }
  }
  .menu-button {

    .text {
      display: inline-block;
      color: $yellow;
      font-family: $font-family-reeniebeanie;
      font-size: $font-size-15;
      @include transition(color);

    }

    .hamburger {
      display: inline-block;
      width: 20px;
      background: $white;
      height: 2px;
      position: relative;
      @include transition(all, .3s);
      @include translateY(-7px);

      &:before {
        width: 20px;
        height: 2px;
        content: '';
        display: block;
        background: $white;
        @include translateY(9px);
        @include transition();
      }

      &:after {
        width: 20px;
        height: 2px;
        content: '';
        display: block;
        background: $white;
        @include translateY(-10px);
        @include transition();
      }
    }

    &:hover {
      .text {
        color: $yellow-dark;
      }
      .hamburger {
        background-color: $yellow-dark;
        &:after,
        &:before {
          background-color: $yellow-dark;
        }
      }
    }
  }
}
#menu {
  padding-top: 80px;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);

  .user-name,
  a {
    font-family: $font-family-reeniebeanie;
    font-size: $font-size-2;
    font-weight: 700;
    color: $white;
    text-align: center;
    display: block;

  }
}
.arrow-left {
  background: url("../image/arrow-left-yellow.png") no-repeat center;
  -webkit-background-size:cover;
  background-size:cover;

}