$blue:                  #00a3f2 !default;
$blue-dark:             #0078b3 !default;
$blue-li:               #0077b0 !default;
$blue-li-dark:          #004560 !default;
$blue-fb:               #295891 !default;
$blue-fb-dark:          #1a395a !default;
$blue-light:            #e6f8fb !default;
$green:                 #00c493 !default;
$green-dark:            #027e5f !default;
$purple:                #88239a !default;
$purple-dark:           #4f045c !default;
$white:                 #ffffff !default;
$gray-light:            #fafaf9 !default;
$gray:                  #e9e7e5 !default;
$gray-dark:             #999999 !default;
$black:                 #000000 !default;
$pink:                  #fe0070 !default;
$pink-dark:             #c50052 !default;
$red:                   #fa005d !default;
$red-dark:              #c70042 !default;
$yellow:                #ffe50d !default;
$yellow-dark:           #c09d04 !default;

$font-size-08:           0.8rem;
$font-size-1:           1rem;
$font-size-15:          1.5rem;
$font-size-2:           2rem;
$font-size-25:          2.5rem;
$font-size-3:           3rem;
$font-size-4:           4rem;
$font-size-5:           5rem;
$font-size-6:           6rem;
$font-size-7:           7rem;

$font-family-hiqicons:'HiQIcons', sans-serif !default;
$font-family-hiq:'HiQ', sans-serif !default;
$font-family-hiqrough:'HiQRough', sans-serif !default;
$font-family-robotolight:'RobotoLight', sans-serif !default;
$font-family-robotobold: 'RobotoBold', sans-serif !default;
$font-family-reeniebeanie: 'Reenie Beanie' !default;
