{{define "links"}}
<link rel="stylesheet" type="text/css" href="public/bootstrap/dist/css/bootstrap.css" >
<link rel="stylesheet" type="text/css" href="public/bootstrap/dist/css/bootstrap-theme.css" >

{{end}}
{{define "title"}}HiQParking | Homepage {{end}}
{{define "main"}}
<main id="spots" class="padding-0" >

</main>


{{end}}

{{define "scripts"}}
<script src="/public/reactJS/Compiled/App.js" type="text/javascript"></script>
{{end}}