{{define "links"}}
<link rel="stylesheet" type="text/css" href="public/bootstrap/dist/css/bootstrap.css" >
<link rel="stylesheet" type="text/css" href="public/bootstrap/dist/css/bootstrap-theme.css" >

{{end}}
{{define "title"}}HiQParking | Homepage {{end}}
{{define "main"}}

<div class="container" id="spots">
</div>

{{end}}

{{define "scripts"}}
<script src="/public/reactJS/Compiled/App.js" type="text/javascript"></script>
{{end}}