<html lang="en">
    <head>
        <meta name="description" content="GoHiQParking for your hiq parking needs.">
        <meta name="author" content="HiQÖrebro">
        <meta charset="UTF-8">
        <meta name="keywords" content="web,golang,parking,hiqörebro,html5,css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="HiQParking">
        <!--<meta property="og:image" content="link_to_image">-->
        <meta property="og:description" content="HiQParking för HiQÖrebro">

        {{block "links" .}}{{end}}
        <link href="/public/css/styles.css" rel="stylesheet">
        <title>{{block "title" .}}HiQParking{{end}}</title>
    </head>
    <body>
        <!--[if lt IE 8]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
        <header>
            <nav class="navbar navbar-inverse margin-0">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">HiQParking</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                    </div>
                </div>
            </nav>
        </header>
        <main class="cover-image" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=640x640&scale=2&markers=color:blue%7Clabel:S|Fabriksgatan 20,Örebro&key=AIzaSyD55li1OuTm-bRAzfO4Mo3AsdNKHywfp1s');">
            <div class="cover-white flex center-center">
                {{block "main" .}}{{end}}
            </div>
        </main>
        <footer class="wrapper">
            <div class="container">
                {{block "footer" .}}{{end}}
            </div>
        </footer>
        <script src="/public/jQuery/jquery.js" type="text/javascript"></script>
        <script src="/public/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
        <script type="text/javascript" src="/public/general/helpers.js"></script>
        <script type="text/javascript" src="/public/reactJS/Compiled/Layout.js"></script>
        {{block "scripts" . }}{{end}}
    </body>
</html>