<html lang="en">
    <head>
        <meta name="description" content="GoHiQParking for your hiq parking needs.">
        <meta name="author" content="HiQÖrebro">
        <meta charset="UTF-8">
        <meta name="keywords" content="web,golang,parking,hiqörebro,html5,css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="HiQParking">
        <!--<meta property="og:image" content="link_to_image">-->
        <meta property="og:description" content="HiQParking för HiQÖrebro">
        <link href="/public/css/main.css" rel="stylesheet">
        {{block "links" .}}{{end}}
        <title>{{block "title" .}}HiQParking{{end}}</title>
    </head>
    <body>
        <!--[if lt IE 8]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
        <div id="root"></div>
        <script type="text/javascript" src="/public/reactJS/Compiled/index.js"></script>
    </body>
</html>